.main {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-family: "Lato", sans-serif;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }