<div class="sidebar-slider" [class.sidebar-slide-in]="sidebarService.sidebarShow">
    <div class="sidebar-close" (click)="sidebarService.sidebarShow = !sidebarService.sidebarShow">
        ×
    </div>
	<div class="sidebar-content">
        <a routerLink='/' class="sidebar-element">Home</a> 
        <a routerLink='/aboutme' class="sidebar-element">About me</a>
        <a routerLink='/codingplayground' class="sidebar-element">Coding Playground</a>
        <a routerLink='/articles' class="sidebar-element">Articles</a>
	</div>
</div>