.sidebar-slider {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #000000;
    transform: translateX(-100%);
    transition: ease-in-out 450ms transform;
    width: 300px;
}

.sidebar-slider.sidebar-slide-in {
    transform: translateX(0%);
    transition: ease-in-out 600ms transform;
}

.sidebar-close {
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 36px;
    cursor: pointer;
    padding: 16px;
}

.sidebar-content {
    display: flex;
    align-items: left;
    margin-left: 40px;
    justify-content: space-around;
    flex-direction: column;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    margin-top: 50px;
}

.sidebar-element {
    margin-bottom: 20px;
    transition: 200ms;
}

.sidebar-element:hover {
    color: #afafaf;
    transition: 300ms;
}